/* Import font from google */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

*{
   margin: 0;
}


body{
   background-color:  rgb(240, 224, 224);
   font-family: sans-serif;
   margin: 0;
   padding: 0;
}
h1,h3,h4,h5,h6{
   font-family: 'Open Sans', sans-serif;
}

.h2_destaque{
   margin-left: 45%;
   margin-top: 5%;
   font-family: 'Open Sans', sans-serif;
}

#topo{
   background-color: #ffff99;
   width: 100%;
   height:150px;
   margin:0 auto;
}

.destaques{
   background-color: rgb(240, 224, 224);
   width: 100%;
   height:1300px;
}


#menu{
   width:50%;
   margin-top: 2%;
   height:50px;
   background-color: #c4c424;
   margin:0 auto;
}


#menu li{
   display:inline;
}
.destaques li{
   width: 50%;
   float: left;
   text-align: center;
   list-style: none;
   padding: 20px 0;
}

.destaques li strong{
   width: 100%;
   display: block;
}
.center{
   text-align: center;
}
table, tr, td{
   border: 1px solid #000;
}
table{
   background-color: #ddd;
}
form fieldset{
   border: none;
}
form legend{
   text-transform: uppercase;
   font-size: 1.2em;
   padding: 0;
   width: 100%;
   border-bottom: 1px solid #555;
}
form label, form input:not([type=checkbox]), form select, form textarea{
   width: 100%;
}
form div{
   width: 48%;
   margin: 0 1%;
   height: 180px;
   float: left;
}
button{
   padding: 10px 20px;
   background-color: blue;
   color: #fff;
   border: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
#rodape{
   width: 100%;
   height: 200px;
   background-color:  #ffff99;
   color: #ccc;
   float: left;
   text-align: center;
}

li {
   display: inline;
   text-decoration: none;
}

















@media  screen and (max-width: 750px){


   #main-menu {
      display: none;
    }
    #hamburger-menu {
      display: inline;
    }

   h2.center, h1.center{
      font-size: 19px;
      color: blue;
   }

   h2.h2_destaque{
      margin-left: 40%;
   }

   ul#ul_rodape{
      color: red;
   }

   p{
      color: black;
      margin-top: 20%;
      margin-left: 4%;
   }

}
